{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Edit Student: {{ student.full_name }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {# Render all fields except resume #}
        {% for field in form %}
            {% if field.name != 'resume' %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}

        {# Resume field manually rendered #}
        <div class="form-group resume-edit">
            <label>Resume</label>

            {% if student.resume %}
                <a href="{{ student.resume.url }}" target="_blank">
                    Currently: {{ student.resume.name|slice:"10:" }}
                </a>
            {% endif %}

            <input type="file" name="resume">

            <div class="checkbox-wrapper">
                <input type="checkbox" name="clear_resume" id="clear_resume">
                <label for="clear_resume">Clear</label>
            </div>
        </div>

        <button type="submit" class="dashboard-button">Save</button>
    </form>

    <a href="{% url 'department_dashboard' %}" class="dashboard-button secondary">Back to Dashboard</a>
</div>
{% endblock %}
