{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="student-dashboard-container">
    <h2>Welcome, {{ student.full_name }}</h2>

    <div class="dashboard-section">
        <h3>Roll Number</h3>
        <p>{{ student.roll_number }}</p>
    </div>

    <div class="dashboard-section">
        <h3>Branch</h3>
        <p>{{ student.branch }}</p>
    </div>

    <div class="dashboard-section">
        <h3>Graduation Year</h3>
        <p>{{ student.graduation_year }}</p>
    </div>

    <div class="dashboard-section">
        <h3>Resume</h3>
        {% if student.resume %}
            <a class="resume-link" href="{{ student.resume.url }}" target="_blank">View Resume</a>
        {% else %}
            <p>No resume uploaded.</p>
        {% endif %}
    </div>

    <div class="dashboard-section">
    <a href="{% url 'available_drives' %}" class="dashboard-button">View Available Drives</a>
    <a href="{% url 'registered_drives' %}" class="dashboard-button">View Registered Drives</a>
    <a href="{% url 'upload_resume' %}" class="dashboard-button">Upload Resume</a>
    <a href="{% url 'logout' %}" class="dashboard-button logout">Logout</a>
    </div>

</div>
{% endblock %}
