{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/upload_resume.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload Your Resume</h2>

    {% if student.resume %}
        <p>Current Resume: <a href="{{ student.resume.url }}" target="_blank">View/Download</a></p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="resume" required>
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}
