{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/view_students.css' %}">
{% endblock %}

{% block content %}
<h2>Registered Students</h2>

<div class="team-table-container">
    <table class="team-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Roll Number</th>
                <th>Phone</th>
                <th>Branch</th>
                <th>Graduation Year</th>
            </tr>
        </thead>
        <tbody>
    {% for student in students %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ student.full_name }}</td>
        <td>{{ student.roll_number }}</td>
        <td>{{ student.phone }}</td>
        <td>{{ student.branch }}</td>
        <td>{{ student.graduation_year }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">No students registered yet.</td>
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>
{% endblock %}
