{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}T&P{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/manage_drives.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <header class="main-header">
        <div class="wrapper">
            <img src="{% static 'images/srit_banner.jpg' %}" alt="SRIT Banner" class="header-img">
        </div>
    </header>

    <nav class="main-nav">
        <div class="wrapper">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'team' %}">T&P Team</a></li>
                <li><a href="{% url 'admin_login' %}">Admin Login</a></li>
            </ul>
        </div>
    </nav>

    <main class="content">
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="wrapper">
           <p>&copy; 2025 SRIT Placement Cell. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
